html {
    background-color: #e0e0e0;
    max-height: 100vh;
}

body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    max-width: 800px;
    height: 100vh;
    /* border: 5px solid #000000; */
    margin: auto;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    padding: 25px;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 25px;
}

footer {
    display: flex;
    margin-top: auto;
    padding: 25px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    background-color: lightgray
}

a:active {
    text-decoration: none;
    background-color: lightgray
}
